---
import Layout from '../layouts/Layout.astro';
import { posts as postsPromise } from '../lib/api.ts';

// Await the same promise. The data is fetched only once.
const allPosts = await postsPromise;
---

<Layout title="Slate Star Codex Archive">
  <header>
    <h1>Slate Star Codex Archive</h1>
    <p>A statically generated archive of all posts, sorted by newest first.</p>
  </header>
  
  <ul class="post-list">
    {allPosts.map(post => (
      <li>
        <a href={`/${post.slug}/`} set:html={post.title.rendered} />
      </li>
    ))}
  </ul>
</Layout>